{{{html}}}

<div class="gh-cta-gradient"></div>

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Ten post jest dostępny dla subskrybujących</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Ten post jest dostępny tylko dla subskrybujących</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Ten post jest dostępny tylko dla subskrybujących na poziomie {{tiers}}</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Zmień plan teraz</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Zapisz teraz</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Masz już konto? Zaloguj się.</span>
        {{/if}}
    </div>
</section>
